body {
    background: #232830;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
}

.cabeçalho {
    /*text-align: center;*/
    width: 1236;
    height: 515px;
    margin: 75px 200px 99px 200px;
    padding: 0 24px;

}

#writing {
    width: 179px;
    margin: 0px 0px 0px 0px ;
    height: 45px;
    font-size: 35px;
}

#categories {
    width: 129px;
    height: 36px;
    margin: 13px 0px 0px 478px;
    font-size: 24px;
}

#articles {
    width: 129px;
    height: 36px;
    margin: 13px 0px 0px 36px;
    font-size: 24px;
}

#about {
    width: 129px;
    height: 36px;
    margin: 13px 0px 0px 36px;
    font-size: 24px;
}

#line {
    border: solid 2px red;
}

.cabeçalho img {
    margin: 126px auto 40.92px;
    display: flex;
    text-align: center;
}

h1 {
    text-align: center;
    color: #FF7575;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Recursive', sans-serif;
    font-style: italic;
    width: 844px;
    height: 85px;
    font-size: 71px;
}