body {
    background: #232830;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
}

.cabeçalho {
    margin: 75px auto 99px;
    text-align: center;
}

.cabeçalho a {
    text-decoration: none;
    color: white;
}

#writing {
    margin: 0px 0px 0px 0px ;
    font-size: 19px;
    font-weight: 400;
}

#categories {
    margin: 13px 0px 0px 530px;
    font-size: 15px;
    font-weight: 400;
}

#articles {
    margin: 13px 0px 0px 36px;
    font-size: 15px;
    font-weight: 400;
}

#about {
    margin: 13px 0px 0px 36px;
    font-size: 15px;
    font-weight: 400;
}

.cabeçalho img {
    margin: 40px auto 23px;
    display: flex;
    text-align: center;
    width: 114px;
    height: 120px;
}

h1 {
    text-align: center;
    color: #FF7575;
    font-family: 'Recursive', sans-serif;
    font-style: italic;
    font-size: 43px;
    margin: 0 0 9px 0;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: normal;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

#line {
    border: solid 0.5px #4D4D4D;
    margin-bottom: 16px;
}

.line_text a {
    text-decoration: none;
    color: #909090;
}

.line_text {
    text-align: center;
    word-spacing: 36px;
    font-family: 'Recursive', sans-serif;
    font-style: italic;
    font-size: 17px;
    margin-bottom: 75px;
}

#imgs {
    display: inline;
    word-spacing: 0;
}

#grid {
    display: inline;
    margin-right: 41px;
    width: 12px;
    height: 12px;
    word-spacing: 0;
}

#list {
    display: inline;
    margin-right: 13px;
    width: 12px;
    height: 12px;
    word-spacing: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 27px;
    width: 915px;
    margin: auto;
    margin-bottom: 50px;
    padding-inline-start: 0px;
  }


li {
    background: white;
    width: 287px;
    height: 299px;
    text-align: center;
    border-radius: 12px;
}

  ul img {
    width: 250px;
    height: 115px;
    position: relative;
    top: 15px;
  }

#refrão {
    color: #0F1217;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    display: block;
    position: relative;
    top: 27px;
    width: 220px;
    height: 33px;
    margin: auto auto 40px;
    padding-bottom: 9px;
    }

#content {
    color: #0F1217;
    font-size: 11px;
    margin: auto;
    text-align: left;
}


.pagination a {
    text-decoration: none;
    color: #909090;
}

.pagination {
    color: #909090;
    text-align: center;
    word-spacing: 43px;
}

#paginas {
    display: inline;
    word-spacing: 23px;
}