body {
    background: #232830;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
}

.cabeçalho {
    margin: 75px 200px 99px 200px;
    padding: 0 24px;

}

.cabeçalho a {
    text-decoration: none;
    color: white;
}

#writing {
    margin: 0px 0px 0px 0px ;
    font-size: 17px;
    font-weight: 400;
}

#categories {
    margin: 13px 0px 0px 696px;
    font-size: 13px;
    font-weight: 400;
}

#articles {
    margin: 13px 0px 0px 36px;
    font-size: 13px;
    font-weight: 400;
}

#about {
    margin: 13px 0px 0px 36px;
    font-size: 13px;
    font-weight: 400;
}

.cabeçalho img {
    margin: 73px auto 40.92px;
    display: flex;
    text-align: center;
}

h1 {
    text-align: center;
    color: #FF7575;
    font-family: 'Recursive', sans-serif;
    font-style: italic;
    font-size: 41px;
    margin: 0 0 17px 0;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: normal;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

#line {
    border: solid 0.5px #4D4D4D;
    margin-bottom: 16px;
}

#line_text a {
    text-decoration: none;
    color: #909090;
}

#line_text {
    text-align: center;
    word-spacing: 36px;
    font-family: 'Recursive', sans-serif;
    font-style: italic;
    font-size: 15px;
}

#imgs {
    display: inline;
    position: relative;
    bottom: 21px;
    left: 335px;
}

#grid {
    display: inline;
    margin-right: 41px;
    width: 12px;
    height: 12px;
    word-spacing: 0;
}

#list {
    display: inline;
    margin-right: 13px;
    width: 12px;
    height: 12px;
    word-spacing: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding-left: 335px;
  }

li {
    background: white;
    width: 226px;
    height: 254px;
    text-align: center;
    border-radius: 12px;
}

  ul img {
    width: 195px;
    height: 92px;
    position: relative;
    top: 15px;
  }

#refrão {
    color: #0F1217;
    font-weight: 600;
    font-size: 12px;
    display: block;
    position: relative;
    top: 22px;
    width: 195px;
    height: 33px;
    margin: auto;
    }

#content {
    color: #0F1217;
    font-size: 9px;
    margin: 15px;
    position: relative;
    top: 26px;
    width: 189px;
    height: 41px;
}